* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--white2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.25s;
  z-index: 100;
}

.navigation .exit p {
  color: var(--black);
  font-weight: 500;
  opacity: 0.5;
  font-size: 1.2em;
}
.navigation .exit p:hover {
  opacity: 1;
  cursor: pointer;
}

.navigation.active {
  width: 0;
}

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li a {
  position: relative;
  width: 100%;
  margin: 10px 0;
  white-space: normal;
  display: flex;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  opacity: 0.5;
}

.navigation ul li a:hover {
  opacity: 1;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--white);
  transition: width 0.25s, left 0.25s;
}

.main.active {
  width: calc(100% - 0px);
  left: 0px;
}

.main .topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 300px);
  left: 300px;
  background-color: var(--white2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 60px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  transition: width 0.25s, left 0.25s;
}

.main .topbar.active {
  width: calc(100% - 0px);
  left: 0px;
  overflow: hidden;
  z-index: 10000;
}

.main .topbar .logo {
  color: var(--black);
  font-weight: 400;
  text-decoration: none;
  font-size: 1.4em;
  z-index: 10000;
}

.main .topbar .toggle p {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  color: var(--black);
  opacity: 0.5;
  z-index: 10000;
}

.main .topbar .toggle p:hover {
  opacity: 1;
  z-index: 10000;
}

section {
  position: relative;
  min-height: 100vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.banner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner .imgBx {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.banner .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

h3 {
  position: relative;
  font-size: 1.4em;
  color: var(--black);
}

p {
  color: var(--black2);
}

.socials {
  display: flex;
  justify-content: center;
}

.socialMedia {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia li {
  list-style: none;
}
.socialMedia li a {
  width: 80px;
  height: 80px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 2em;
  border-radius: 5px;
  border: 1px solid black;
}

.socialMedia li a:hover {
  background-color: var(--black2);
  color: #fff;
  transition: 0.25s;
}

.adjust {
  position: relative;
  min-height: 100vh;
  padding: 0 40px;
  padding-top: 80px;
  background: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  position: relative;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.shapes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.square {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 0, 0, 0.167);
  transform: rotate(35deg);
}

.circle {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 94, 255, 0.167);
  border-radius: 50%;
}

.about .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-top: 40px;
}

.about .content .textBox {
  width: 55%;
  min-width: 49%;
  padding: 10px;
}

.about .content .imgBx img {
  max-width: 100%;
  height: 350px;
}

.projects .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  justify-items: center;
  margin-top: 50px;
  width: 75%;
}

.projects .content .textBox {
  height: 275px;
  max-width: 100%;
  padding: 10px;
  text-align: justify;
  overflow-x: hidden;
}

.projects .content .imgBx {
  padding: 10px 0;
  /* overflow-x: hidden; */
}

.projects .content .textBox h4 {
  /* margin-bottom: 15px; */
  font-size: 1.1em;
}

.projects .content img {
  max-width: 100%;
  height: 275px;
  border: black solid 1px;
  /* overflow-x: hidden; */
}

.projects .content h4 a {
  text-decoration: none;
  color: var(--black);
  justify-content: center;
}

.projects .content .textBox .project-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
}

.projects .content .textBox .project-link a {
  padding: 5px 5px 5px 0;
  text-decoration: none;
  color: var(--black);
  opacity: 0.5;
  transition-duration: 0.5s;
}
.projects .content .textBox .project-link p {
  padding: 5px 5px 5px 0;
}

.projects .content .textBox .project-link a:hover {
  opacity: 1;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid rgba(248, 244, 3, 0.345);
  border-bottom: 25px solid transparent;
  margin-left: -25px;
}

.oval {
  height: 45px;
  width: 70px;
  background-color: rgba(187, 3, 248, 0.168);
  border-radius: 50%;
}

.skills .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 80%;
  min-width: 49%;
}

.skills .content .textBox {
  width: 80%;
}

.icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.skills .content .textBox .icons img {
  margin: 15px;
}

.trapezoid {
  border-bottom: 30px solid rgba(3, 248, 105, 0.168);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 90px;
}

.skills .oval {
  height: 60px;
  width: 40px;
  background-color: rgba(248, 130, 3, 0.168);
  border-radius: 50%;
  margin-right: -25px;
}

.rectangle {
  height: 40px;
  width: 80px;
  background-color: rgba(240, 3, 248, 0.168);
  margin-left: -25px;
}

.diamond {
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-bottom-color: rgba(3, 244, 248, 0.168);
  position: relative;
  top: -40px;
}
.diamond:after {
  content: "";
  position: absolute;
  left: -40px;
  top: 40px;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: rgba(3, 244, 248, 0.168);
}

.photos .title h2 {
  margin-bottom: 0;
}
.photos .subtitle {
  font-size: 0.75em;
  margin: 3px;
}

.photos .content .col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.photos .content .col img {
  width: 250px;
  height: 250px;
  vertical-align: middle;
  margin: 6px;
}

/* Create four equal columns that sits next to each other */
.photos .content .col {
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photos .content .col {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 40px 0;
  }

  .imgContainer {
    position: relative;
    display: flex;
  }

  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 250px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 6px;
  }
  
  .imgContainer:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .projects .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
    justify-items: center;
    margin-top: 50px;
  }
  
  .contact .contactForm .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }
  
  .contact .contactForm .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .projects .content img {
    max-width: 100%;
    height: 150px;
    border: black solid 1px;
    overflow-x: hidden;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .photos .content .col {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 40px 0;
  }

  .imgContainer {
    position: relative;
    /* width: 50%; */
    display: flex;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 250px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 6px;
  }

  .imgContainer:hover .overlay {
    opacity: 1;
  }

  .text {
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .projects .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: start;
    justify-items: center;
    margin-top: 50px;
  }

  .contact .contactForm .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }

  .contact .contactForm .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .projects .content img {
    max-width: 100%;
    height: 150px;
    border: black solid 1px;
    overflow-x: hidden;
  }
}

.imgContainer {
  position: relative;
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 6px;
}

/* .overlay-proj {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 350px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
} */

/* .imgContainer:hover .overlay-proj {
  opacity: 1;
} */

.imgContainer:hover .overlay {
  opacity: 1;
}

.text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.heart {
  position: relative;
  width: 70px;
  height: 60px;
  right: 15px;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 35px;
  top: 0;
  width: 35px;
  height: 65px;
  background: rgba(255, 0, 0, 0.168);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.talkbubble {
  width: 75px;
  height: 40px;
  background: rgba(0, 251, 255, 0.168);
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 16px solid rgba(0, 251, 255, 0.168);
  border-bottom: 6px solid transparent;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
